/* mani title  */
.main-title{
color: coral;
text-align: center;
font-weight: 700;
}

/*  calculator-section */
.calculator-section{
background-color: rgb(247, 228, 228);
}
/* calculator button  */
.cal-button{
padding: 10px 45px;
color: rgb(255, 255, 255);
font-size: larger;
font-weight: 600;
background-color: rgb(108, 182, 252);
border-radius:15px ;
border: 0;
}