/* mani title  */
.main-title{
color: coral;
text-align: center;
font-weight: 700;
}

/*  calculator-section */
.calculator-section{
background-color: rgba(238, 249, 252, 0.959);
box-shadow: 1px 1px 7px rgb(117, 116, 117);
}
/* calculator button  */
.cal-button{
padding: 10px 45px;
color: rgb(255, 255, 255);
font-size: larger;
font-weight: 600;
background-color: rgb(108, 182, 252);
border-radius:15px ;
border: 0;
}
.background-of-zero{
color: #eef9fc;
}
/* saving part  */
#saving-input-fild{
width: 100px;
}
.save-button{
    padding: 10px 45px;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: 600;
    background-color: rgb(108, 182, 252);
    border-radius:15px ;
    border: 0;
}
/* Media Queries for mobile  */
@media only screen and (max-width: 600px) {
    .calculator-section {
      
      margin-right: 0%;
      margin-left: 0%;
      padding: 0;
    }
  }
  /* Media Queries for pc  */
@media only screen and (min-width: 768px) {
    .calculator-section {
      margin-right: 20px;
      margin-left:20px;
      padding: 0;
    }
  }